<!DOCTYPE html>

<html>
<head>
    <title>Refund result</title>

</head>

<body>
<%if (info[0] == true) {%>
    <h1>Transaction was succesful</h1>
    <p> (You received : <%= info[1][0].returnValues.funds %> wei) </p>
<%} else {%>
    <h1>Unsuccessful </h1>
<%}%>


<br>
<a href="/" style="color: green "> Home </a>
</body>
</html>









