<!DOCTYPE html>

<html>
<head>
    <title>New sale Form</title>

</head>

<body>

<h1> Fill in the form to sell a new product</h1>
<form action="/PostProduct" method="post">
    <label for="price">Price</label>
    <input type="text" id="price" name="price">
    <br>
    <label for="contractEndTime">Contract end time</label>
    <input type="text" id="contractEndTime" name="contractEndTime">
    <br>
    <label for="description">Product Description</label>
    <input type="text" id="description" name="description">
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>