<!DOCTYPE html>

<html>
<head>
    <title>Success</title>

</head>

<body>
<%if (result) {%>
    <h1>You successfully withdrew <%=result.returnValues.funds %> from <%= id %>  ! </h1>
<%} else {%>
    <h1>Operation unsuccessful</h1>
<%}%>

<br>
<br>
<a href="/">Home</a>

</body>
</html>









