<!DOCTYPE html>

<html>
<head>
    <title>Balance</title>
    <style>
        a {text-decoration: none; color: black;}
    </style>
</head>

<body>
<h1>Balance</h1>

<p id="address"> No account given yet!</p>
<br>
<p id="balance"> </p>



<form action="/balance/" method="get">
    <label for="account">Address to check:</label>
    <input id="account" name="account" type="string">
    <input type="submit" value="Submit">
</form>




<a href="/nodes">
    <button>Nodes</button>
</a>
<a href="/">
    <button>Home</button>
</a>

</body>
</html>