h2{
     font: 14px Arial, sans-serif;
     color:#fff;
     padding: 12px;
     text-align: center;
 }

h1{
    font: 28px Arial, sans-serif;
    color:#fff;
    padding: 10px;
    text-align: center;
}

p{
    font: 12px Arial, sans-serif;
    color:#fff;
    padding: 10px;
}

a {
    text-decoration: none;
    color: red;
}


