html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#wrapper {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#menuContainer {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
}

#menuContainer h1 {
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
    cursor: pointer;
    padding: 10px 5px;
    color: #BBB;
    background: #1a1a1a;
    font: 24px Arial, sans-serif;
    text-align: center;
}

#menuContainer h2 {
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
    cursor: pointer;
    padding: 10px 5px;
    color: #BBB;
    background: #1a1a1a;
    font: 20px Arial, sans-serif;
    text-align: center;
}

#menuContainer li {
    border-bottom: 1px solid #000;
    border-top: 1px solid #333;
    cursor: pointer;
    padding: 10px 5px;
    color: #BBB;
    background: #1a1a1a;
    font: 12px Arial, sans-serif;
}

#menuContainer li:hover {
    background: #111;
    color: #CCC;
}






#layoutContainer {
    color: #fff;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    box-shadow: -3px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#layoutContainer li {
    font: 12px Arial, sans-serif;
    padding: 10px;
    cursor: pointer;
}

#layoutContainer h1 {
    font: 24px Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

#layoutContainer h2 {
    font: 20px Arial, sans-serif;
    padding: 12px;
}

#layoutContainer p {
    font: 12px Arial, sans-serif;
    padding: 10px;
}

#layoutContainer td {
    padding: 3px;
}