<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <!-- JQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Golden Layout -->
    <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css"/>
    <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-dark-theme.css"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="test.css">

</head>

<body>
<!--<h1>Welcome! you are home!</h1>-->
<!--<p> Do you want to see the <a href="/nodes/">nodes</a> ?</p>-->
<script>
    var config = {
        content: [{
            type: 'row',
            content: [
                {
                    type: 'component',
                    componentName: 'Home',
                    componentState: {text: 'Do you want to see the <a href="/nodes/">nodes</a> ???'}
                },
                {
                    type: 'column',
                    content: [{
                        type: 'component',
                        componentName: 'Blocks',
                        componentState: {text: 'Nombre de blocks', nombre: '36'}
                    }, {
                        type: 'component',
                        componentName: 'Noeuds',
                        componentState: {text: 'Nombre de noeuds', nombre: '24'}
                    }]


                },

            ]
        }]
    };

    var myLayout = new GoldenLayout(config);

    myLayout.registerComponent('Noeuds', function (container, state) {
        container.getElement().html('<h2>' + state.text + '</h2>' + '<h1>' + state.nombre + '</h1>');
    });
    myLayout.registerComponent('Blocks', function (container, state) {
        container.getElement().html('<h2>' + state.text + '</h2>' + '<h1>' + state.nombre + '</h1>');
    });
    myLayout.registerComponent('Home', function (container, state) {
        container.getElement().html('<p>' + state.text + '</p>');
    });
    myLayout.init();
</script>

</body>
</html>