<!DOCTYPE html>

<html>
<head>
    <title>Connected Node List</title>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//www.golden-layout.com/assets/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="//www.golden-layout.com/assets/css/goldenlayout-dark-theme.css" />

    <link rel="stylesheet" type="text/css" href="../essai-HCetGL/test.css">
    <script type="text/javascript" src="AffichageFonctionne.js"></script>

</head>

<body>
<h1>Currently connected nodes</h1>

<ul>
    <% nodelist.forEach(function(node) { %>
        <li> <%= node %></li>
    <% }); %>
</ul>

<a href="/nodes/refresh">
    <button>Refresh</button>
</a>

<!--<form action="/nodes/refresh/" method="get">-->
<!--    <p>-->
<!--        <label for="newtodo">Refresh</label>-->
<!--        <input type="button" name="refr" id="refresh_nodes" autofocus />-->
<!--        <input type="submit" />-->
<!--    </p>-->
<!--</form>-->
</body>
</html>