<!DOCTYPE html>

<html>
<head>
    <title>Home Client</title>

</head>

<body>
    <h1>Available Prodcuts :</h1>

    <ul>
        <% let i=0;Ids.forEach(function(product) { %>
            <li> <a href="/"> <%= product %> </a> </li>
            <% i++ ; %>
        <% }); %>
    </ul>

</body>
</html>









