<!DOCTYPE html>

<html>
<head>
    <title>Products</title>

</head>

<body>
    <h1>Available Products :</h1>

    <ul>

            <li> <a href="/"> <%= Ids %> </a> </li>

    </ul>

</body>
</html>









