<!DOCTYPE html>

<html>
<head>
    <title>Connected Node List</title>
    <style>
        a {text-decoration: none; color: black;}
    </style>
</head>

<body>
<h1>Blocks</h1>

<ul>
    <% let i=0;blocks.forEach(function(block) { %>
        <li>  <%= block.id %>  </li>
        <% i++ ; %>
    <% }); %>
</ul>


<a href="/">
    <button>Home</button>
</a>

<!--<form action="/nodes/refresh/" method="get">-->
<!--    <p>-->
<!--        <label for="newtodo">Refresh</label>-->
<!--        <input type="button" name="refr" id="refresh_nodes" autofocus />-->
<!--        <input type="submit" />-->
<!--    </p>-->
<!--</form>-->
</body>
</html>