<!DOCTYPE html>

<html>
<head>
    <title>Result Transaction</title>
    <style>
        a {text-decoration: none; color: black;}
    </style>
</head>

<body>
<p> Transaction from : <% sender %></p>
<br>
<p> to : <% receiver %></p>
<br>
<p> of : <% ammount %></p>
<br>
<p> has been made, here is your receipt:</p>
<br>
<p> blockhash : <%r.blockHash.toString()%></p>
<br>
<p> blockNumber : <%r.blockNumber%></p>
<br>
<p> cumulative Gas used : <%r.cumulativeGasUsed%></p>
<br>
<p> from : <%r.from%></p>
<br>
<p> status : <%r.status%></p>
<br>
<p> to : <%r.to%></p>


</body>
</html>