<!DOCTYPE html>

<html>
<head>
    <title>Signed Transaction</title>
    <style>
        a {text-decoration: none; color: black;}
    </style>
</head>

<body>
<h1>Let's make a transaction!</h1>
    <form action="/CreateTransaction/" method="post">
        <label for="sender">Sender:</label>
        <input id="sender" name="sender" type="string">
        <br>

        <label for="privateKey">Private Key:</label>
        <input id="privateKey" name="privateKey" type="string">
        <br>

        <label for="receiver">Receiver:</label>
        <input id="receiver" name="receiver" type="string">
        <br>

        <label for="ammount">Ammount:</label>
        <input id="ammount" name="ammount" type="double">

        <input type="submit" value="Submit">
    </form>

<br><br>
<a href="/SignedTransaction/">
    <button>Refresh</button>
</a>
<a href="/">
    <button>Home</button>
</a>


<!--<form action="/nodes/refresh/" method="get">-->
<!--    <p>-->
<!--        <label for="newtodo">Refresh</label>-->
<!--        <input type="button" name="refr" id="refresh_nodes" autofocus />-->
<!--        <input type="submit" />-->
<!--    </p>-->
<!--</form>-->
</body>
</html>